/* ------------- VEHICLES ------------------*/
.image-card {
    height: 350px;
}

.image-card img {
    height: 100%;
    width: 100%;
}

.section-header {
    padding: 10px;
}

.section-header h2 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-header p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnsearch {
    display: block;
    margin: 20px 3px;
    width: fit-content;
    padding: 14px 30px;
    border-radius: 6px;
    text-decoration: none;
}